<div class="top-content">
  <h1 class="top-content_title">投稿一覧ページ</h1>
    <div class="cards">
      <% @photos.each do |photo| %>
          <div class="card">
            <%= image_tag photo.image_url %>
            <p class="title"><%= photo.title %></p>
            <p class="memo"><%= photo.memo %></p>
            <%= link_to "編集", edit_photo_path(photo) %>
            <%= link_to "削除", photo, method: :delete, data: { confirm: "#{photo.title}を削除して大丈夫ですか？" } %>
          </div>
      <% end %>
    </div>
  <div class="to-post-new"><a href="/photos/new">新規投稿へ</a></div>
</div>